@model SQLiteAspNetCoreMvcIdentity.Models.Vraag

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afbeelding" class="control-label"></label>
                <input asp-for="Afbeelding" class="form-control" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaatsteWijziging" class="control-label"></label>
                <input asp-for="LaatsteWijziging" class="form-control" />
                <span asp-validation-for="LaatsteWijziging" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPunten" class="control-label"></label>
                <input asp-for="MaxPunten" class="form-control" />
                <span asp-validation-for="MaxPunten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opmerkingen" class="control-label"></label>
                <input asp-for="Opmerkingen" class="form-control" />
                <span asp-validation-for="Opmerkingen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
